<!DOCTYPE html>
<html lang="en">


<%- include('partials/head',{page_title: 'Quotes' }) %>


    <body>
        <header>
            <%- include('partials/header',{qPage : '/quote' ,fPage:'/favorite',aPage:'/about-us'}) %>
        </header>
        <main>

            <div>

                <% let uniqueOptions=[]; %>
                    <% allQuotes.forEach( quote=> { %>
                        <% if (!uniqueOptions.includes(quote.category) && quote.category) { %>
                            <% uniqueOptions.push(quote.category); }}); %>
                                <select id="list">
                                    <option value="All Quotes">All Quotes</option>
                                    <% uniqueOptions.forEach( option=> { %>
                                        <option value="<%= option %>">
                                            <%= option %>
                                        </option>
                                        <% }); %>
                                </select>
            </div>
            <div class="container">
                <% allQuotes.forEach( quote=> { %>
                    <div class="eachContainerQuote <%= quote.category %>">
                        <p>
                            "
                            <%= quote.quote %> "
                        </p>
                        <h3>
                            -
                            <%= quote.author %>
                        </h3>
                        <h4>
                            Category:
                            <%= quote.category %>
                        </h4>
                        <h5>
                            Is Liked?
                            <%= quote.liked %>
                        </h5>
                        <form action="/addLike" method="POST" class=likeForm>
                            <input type="hidden" name="quote" value="<%= quote.quote %>">
                            <input type="hidden" name="author" value="<%= quote.author %>">
                            <input type="hidden" name="category" value="<%= quote.category %>">
                            <input type="hidden" name="liked" value="<%= quote.liked %>">
                            <input type="submit" class="liked" name="submit" value="â¤">
                        </form>
                    </div>
                    <% })%>
            </div>
        </main>



        <%- include('partials/footer') %>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/app.js"></script>
            <script>
                $('.likeForm').on('submit', (event) => {
                    event.preventDefault();

                    const data = {
                        quote: event.target.quote.value,
                        author: event.target.author.value,
                        category: event.target.author.value,
                        liked: event.target.liked.value
                    };

                    console.log(data);
                    console.log(data["author"]);

                    // add loading

                    $.ajax({
                        url: '/addlike',
                        method: 'POST',
                        data: data
                    }).then(() => {
                        swal('Liked!');
                    }).catch(error => console.log(error));
                });
            </script>
    </body>

</html>